.encadrantListe{
    position: absolute;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    padding: 5% 15%;
    overflow: scroll;
}
.soutenanceDiv{
    position: absolute;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    padding: 5% 15%;
    overflow: scroll;
}
.ajoutEncadrant{
    position: absolute;
    height: 600px; 
    width: 50%;
    padding: 5% 10%;
    margin: 0 25%;
    margin-top: 100px;
}
.buttons{
    width: 100%;
}
.buttons button{
    float: right;
}
.encadrantDetails{
    position: absolute;
    width: 50%;
    margin: 0 25%;
    margin-top: 250px;
}
.etudiantsListe{
    position: absolute;
    margin-top: 100px;
    height: 600px;
    width: 100%;
    padding: 5% 15%;
    overflow: scroll;
}
.ajoutEtudiant{
    position: absolute;
    height: 500px;
    width: 60%;
    margin: 0 20%;
    margin-top: 120px;
    padding: 0 5%;
    overflow: scroll;
}
.ajoutEtudiant .row{
    display: flex;
    flex-direction: row;

}
.ajoutEtudiant .column{
    width: 50%;
}
.etudiantDetails{
    position: absolute;
    height: 500px;
    width: 65%;
    margin: 0 20%;
    margin-top: 120px;
    padding: 2%;
    overflow-y: scroll;
}
.dropdown.nonaffecte{
    visibility: hidden;
}